@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";



* {
  font-family: "Roboto", sans-serif;
}

@theme {
  --breakpoint-mb: 33rem;
  --breakpoint-st: 27rem;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-0.5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(0.5px);
  }
}

.animate-shake {
  animation: shake 1s ease-in-out infinite;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #7a99c5;
  width: fit-content;
  animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
}
html {
  scroll-behavior: smooth;
}

body {
  --sb-track-color: #cad6dc;
  --sb-thumb-color: #161817;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 11px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
